NEXT_PUBLIC_API_BASE_URL=https://localhost:7044/api/v1
NEXT_PUBLIC_AUTH_MODE=development
NEXT_PUBLIC_DEV_ORGANIZATION_ID=4df92032-4a1c-4cf2-b48f-15b570cd073a
NEXT_PUBLIC_DEV_USER_ID=76279895-817d-47d2-b5c2-2a1e306db4f9
NEXT_PUBLIC_DEV_USER_NAME=Carlos Sanchez Gutierrez
NEXT_PUBLIC_DEV_USER_EMAIL=carlos.test@caritas.local
